RABBIT_URL={{ rabbitmq_exporter_url }}

RABBIT_USER={{ rabbitmq_exporter_username }}
RABBIT_PASSWORD={{ rabbitmq_exporter_password }}

RABBIT_CAPABILITIES={{ rabbitmq_exporter_capabilities | join(',') }}
RABBIT_EXPORTERS={{ rabbitmq_exporter_exporters | join(',') }}
